body#press {
    .landing {
        background-image: url(../images/ULO-image2.png);

        h1 {
            position: absolute;
            font-size: 48px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            top: 45%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);

            @media screen and (max-width: $phone) {
                top: 65%;
            }
        }
    }

    .features {
        margin-bottom: 100px;
    }

    .floatGroup {
        padding: 0 80px 40px 80px;

        @media screen and (max-width: $phone) {
            padding: 0 10px 40px 10px;
        }

        .imgContainer {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;

            img {
                width: 300px;
            }
        }

        .content {
            display: flex;

            p {
                width: 50%;
                margin-left: 20px;
                font-size: 16px;
                line-height: 24px;
            }

            @media screen and (max-width: $phone) {
                display: block;
            }
        }
    }

    .grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 150px;

        img {
            height: 50px;
            margin: 20px;
        }
    }
}
