body#home {
    .landing {
        background-image: url(../img/Home-Header.png);
        width: 100vw;
        height: 90vh;
        background-size: cover;
        background-position: center;
        color: white;

        h1 {
            font-size: 42px;
            line-height: 52px;
            font-weight: 600;
            width: 50%;
            margin-top: 15vh;

            @media screen and (max-width: $phone) {
                font-size: 30px;
                margin-top: 5vh;
                width: 100%;
                padding: 0 10px;
            }
        }

        .head-button {
            border: 3px solid white;
            display: inline-block;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0.025em;
            padding: 16px 0;
            margin-top: 40px;
            transition: all .2s ease-in-out;
            transform: scale(1);

            &:hover {
                background-color: $blue;
                border-color: $blue;
                transform: scale(1.03);
            }

            a {
                padding: 16px 80px;

                @media screen and (max-width: $phone) {
                    padding: 16px 30px
                }
            }
        }

        .downArrow {
            position: absolute;
            bottom: 11%;
            left: 50%;
            transform: translateX(-50%);
            width: 40px;
            text-align: center;
        }
    }

    .presentation {
        background-color: white;

        .content {
            font-size: 16px;
            color: $black;
            line-height: 24px;
            text-align: center;
            width: 400px;
            max-width: 100%;
            padding: 0 30px;
            margin: 0 auto;
        }

        .picturesPresentation {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 80px;

            img {
                width: 48%;
                height: auto;
            }
        }
    }

    .features {
        margin-top: 50px;
        margin-bottom: 100px;

        .featuresPresentation {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            padding-bottom: 30px;

            @media screen and (max-width: $phone) {
                display: block;
            }

            .feature {
                text-align: center;

                img {
                    width: 70px;
                    height: 70px;
                    object-fit: contain;
                    border: 3px solid $blue;
                    border-radius: 1000px;
                    padding: 5px;
                    margin-bottom: 20px;
                }

                h3 {
                    font-size: 23px;
                    font-weight: 600;
                    letter-spacing: 0.025em;
                    text-transform: uppercase;
                    margin-bottom: 40px;
                }

                p {
                    font-size: 16px;
                    line-height: 24px;
                    margin: 0 25px;
                    text-align: justify;

                }
            }
        }

        .buttonContainer {
            text-align: center;

            .button {
                display: inline-block;
                background-color: $blue;
                color: white;
                margin: 50px 0;
                padding: 10px 0;
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 0.025em;
                text-transform: uppercase;
                transition: all .2s ease-in-out;
                transform: scale(1);

                &:hover {
                    background-color: #18b0ab;
                    transform: scale(1.03);
                }

                a {
                    padding: 10px 50px;
                }
            }
        }
    }

    .catchLines {
        background-image: url(../img/e9c17131349175.564c8de365d58.jpg);
        background-size: cover;
        background-position: center;
        height: 70vh;
        color: white;
        text-align: center;

        h3 {
            font-size: 36px;
            font-weight: 600;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            padding: 20vh 10px 5vh 10px;;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            max-width: 600px;
            margin: 0 auto;
            padding: 0 10px;
        }
    }
}
